* {
    outline: 1px solid red;

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color:#F6F8F9;
}

header{
    background-color: white;

}

#logo {
    width: 80px;
}

#logo,
.title {
    vertical-align: middle;
}

.title {
    font-size: 40px;
    font-weight: bold;

}