* {
    /*outline: 1px solid red;*/

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color:#F6F8F9;
}

header{
    background-color: white;

}

#logo {
    width: 60px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#logo,
.title {
    vertical-align: middle;
}

.title {
    font-size: 40px;
    font-weight: bold;

}

.section,
.option {
    background-color: white;
}

.conteiner {
    width: 50%; 
    margin: 40px auto;

}

.button-1,
.button-2 {
    border-radius: 5px;
    padding: 10px;

}

.button-1 {
    background-color: #47ADF1;
    color: white;
    
}

.button-2 {
    color: lightslategray;
}

.option {
    margin-top: 5px;
}

.text {
    font-size: 20px;
    font-weight: bold;
}

.button-3 {
    background-color: #47ADF1;
    border-radius: 5px;
    color: white;
    padding: 5px; 
    font-size: 11px;
    
}