* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color:#F6F8F9;
}

header{
    background-color: white;

}

#logo {
    width: 60px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}

.title {
    font-size: 40px;
    font-weight: bold;
    vertical-align: middle;

}

.conteiner {
    width: 50%; 
    margin: 40px auto;
    background-color: white;

}

 .section {
    padding: 20px;
    border-bottom: 4px solid #F6F8F9;
}

.button-1,
.button-2 {
    border-radius: 5px;
    padding: 6px;

}

.button-1 {
    background-color: #47ADF1;
    color: white;
    
}

.button-2 {
    color: lightslategray;
}

.option {
    padding-left: 20px;
    margin-top: 40px;
}

.circle  {
    border: 1px solid black;
    border-radius: 50px;
    font-size: 8px;
   
}


.box {
    background-color:  #47ADF1;
    color: white;
    border: 1px solid #47ADF1;
    border-radius: 20px;
    padding: 6px;
    margin: 8px;
    font-size: 11px;
    
}

p, span {
    padding: 6px;
}

#violet {
    background-color: #9C72E4;
    border: 1px solid #9C72E4;
}

#green {
    background-color: #64C0A9;
    border: 1px solid #64C0A9;
}

#orange {
    background-color: #F29E33;
    border: 1px solid #F29E33;
}

#rose {
    background-color: #D863A0;
    border: 1px solid #D863A0;
}

#lightgreen {
    background-color: #B0C926;
    border: 1px solid #B0C926;
}


